DATABASE_URL=
DATABASE_READ_URL=
REDIS_URL=
MEILISEARCH_URL=
MEILISEARCH_KEY=
JWT_SECRET=
JWT_REFRESH_SECRET=
PI_API_KEY=
PI_PLATFORM_API_URL=https://api.minepi.com/v2
AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
IPFS_PINATA_JWT=
PLATFORM_FEE_RATE=0.075
SUBSCRIPTION_PRICE_PI=5
SUBSCRIPTION_DURATION_DAYS=30
